[general]
server: org.spigotmc:spigot:1.7.9-R0.3-SNAPSHOT

[directories]
plugins: plugins
worlds: worlds

[options]
jvm: jvm.opts
application: application.opts

[repositories]
spigot: http://repo.md-5.net/content/groups/public/
sk89q: http://maven.sk89q.com/repo/

[plugins]
worldedit: com.sk89q:worldedit:6.0.0-SNAPSHOT
