[general]
server: org.bukkit:craftbukkit:1.7.9-R0.2
stop-command: stop

[directories]
plugins: plugins
worlds: worlds

[options]
jvm: jvm.opts
application: application.opts

[repositories]
bukkit: http://repo.bukkit.org/content/groups/public/

# Below are popular plugin/server repositories, you may uncomment the lines you need
#spigot: http://repo.md-5.net/content/groups/public/
#sk89q: http://maven.sk89q.com/repo/
#kitteh: http://repo.kitteh.org/content/groups/public
#comphenix: http://repo.comphenix.net/content/repositories/public/

# blackdog is a local webservice that maps bukkitdev plugins to a maven repository structure
# for more information, see http://github.com/Snaipe/BlackDog.git
#blackdog: http://localhost:8140/

[plugins]
#WorldEdit: com.sk89q:worldedit:6.0.0-SNAPSHOT
#Vault: net.milkbowl.vault:Vault:1.2.16
